################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Traki/Traki/Traki/obj
/Traki/Traki/Traki.Droid/obj
/Traki/Traki/Traki.iOS/obj
/Traki/Traki/Traki.Mac/obj
/Traki/Traki/Traki.WinUI/obj
/Traki/.vs/Traki/FileContentIndex/17fdd2f3-0b11-42d2-ae0b-4ee78615462d.vsidx
/Traki/.vs/Traki/FileContentIndex/8d993536-263b-4b08-84d8-beae4a0bdab7.vsidx
/Traki/.vs/Traki/FileContentIndex/ceddc2f0-4ea9-48da-944d-61ffa16301dc.vsidx
/Traki/.vs/Traki/FileContentIndex/ff33d140-6321-4910-8036-c53afeec102d.vsidx
/Traki/.vs/Traki/FileContentIndex/ffd07e0d-87a6-443b-872f-491f46ce56b6.vsidx
/Traki/.vs/Traki/FileContentIndex/eace8f2a-c6a6-49d3-9e62-6e3d3bdd4f25.vsidx
/Traki/Core/bin/Debug
/Traki/Core/obj/Debug
/Traki/Core/obj
/Traki/Traki/Traki/bin/Debug/net9.0
/Traki/Traki/Traki.Droid/bin/Debug/net9.0-android
/Traki/Traki/Traki.iOS/bin/Debug/net9.0-ios/ios-arm64
/Traki/Traki/Traki.Mac/bin/Debug/net9.0-maccatalyst/maccatalyst-x64
/Traki/Traki/Traki.WinUI/bin/x64/Debug/net9.0-windows10.0.19041.0/win10-x64
/Traki/Core/Core.csproj.user
/Traki/.vs/ProjectEvaluation/traki.metadata.v9.bin
/Traki/.vs/ProjectEvaluation/traki.projects.v9.bin
/Traki/.vs/ProjectEvaluation/traki.strings.v9.bin
/Traki/.vs/Traki/DesignTimeBuild/.dtbcache.v2
/Traki/.vs/Traki/v17/.futdcache.v2
/Traki/.vs/Traki/v17/.suo
/Traki/.vs/Traki/v17/DocumentLayout.backup.json
/Traki/.vs/Traki/v17/DocumentLayout.json
*.vsidx
/Traki/TrakiLibrary/bin/Debug
/Traki/TrakiLibrary/obj
/Traki/Traki.Service/bin/Debug
/Traki/Traki.Service/obj
/Traki/.vs/Traki/v17/HierarchyCache.v1.txt
